//Account
.wrapper {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    cursor: pointer;
    color: var(--text-color);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.link-user-account {
    display: flex;
}

.avatar-account {
    width: 48px;
    height: 48px;

    border-radius: 50%;
    object-fit: cover;
}

.info-account {
    flex: 1;
    margin-left: 12px;
}

.name-account {
    font-weight: 600;
}

.type-account {
    margin-left: 8px;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.id-account {
    font-size: 1.5rem;
    color: rgba(22, 24, 35, 0.5);
}

//My Account
.wrapper-user-account {
    display: flex;
    align-items: center;
    padding: 7px 16px 14px;
    color: var(--text-color);
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);
}

.avatar-user-account {
    width: 48px;
    height: 48px;

    border-radius: 50%;
    object-fit: cover;
}

.info-user-account {
    flex: 1;
    margin-left: 14px;
}

.name-user-account {
    font-weight: 600;
}

.type-user-account {
    margin-left: 8px;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.id-user-account {
    font-size: 1.5rem;
    color: rgba(22, 24, 35, 0.5);
}
